body {
  background-color: #f7f3ea;
  color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: 1s;
}

body.dark {
  background-color: #181818;
}

#theme-swap-btn {
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  margin-bottom: 3em;
  outline: none;
  background-color: #f04290;
  transition: 0.7s;
}

#theme-swap-btn:hover{
    transform: scale(1.1);
}

body.dark #theme-swap-btn {
  background-color: #ede580;
}

#calculator {
  width: 300px;
  height: auto;
  padding: 10px;
  border: none;
  background: gray;
}

#display {
  padding: 20px;
  border-radius: 5px;

  margin: 0 1.5px 3px 1.5px;
  text-align: right;
  font-size: 30px;
  height: 1em;
  background-color: white;
  transition: 1s;
}

body.dark #display {
  background-color: #c8c8c8;
}

#btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
  font-size: 20px;
  border-radius: 5px;
  margin: 0 1.5px 3px 1.5px;
  padding: 20px;
  border: none;
  background-color: white;
  transition: 1s;
}

.btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.btn:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
}

body.dark .btn {
  background-color: #c8c8c8;
}

#clear-btn {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #16f3e8;
  transition: 1s;
}

body.dark #clear-btn {
  background-color: #ffc857;
}

#erase-btn {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #37fb72;
  transition: 1s;
}

body.dark #erase-btn {
  background-color: #f50041;
}
